body {
    font-family: cursive;
    background-image: linear-gradient(white,lightgrey);
    margin: 0;
    padding: 0;
}




h2{
    
    background-image: linear-gradient(Blue, lightblue);
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}

h2:hover::before{
    content: url("/uploads/2021/03/click-38743_1280%201_0_1614962641.png"
    );
    width: 20px;
    display: inline-block;
    margin-right:15px ;
    opacity: 1;
}

h2:hover::after{
    content: url("/uploads/2021/03/click-38743_1280%201_0_1614962641.png"
    );

    width: 20px;
    display: inline-block;
    margin-left:15px ;
    opacity: 1;
}


h4, h5, h6 {
    font-size: 18px;
    color: #333;
}


article.turne, article.leopard, article.gefors {
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
}


section.tourist {
    background-image: url("https://learn.logikaschool.com/uploads/student/4784915/67c33f374c6ec.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 40px;
}


.container {
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}

.gallery img {
    opacity: 0.2;
    width: 150px;
    height: 200px;
    
}

.gallery img:hover {
    opacity: 1;
    margin: -20px;
    box-shadow:0 0 10px 5px royalblue ;
}

.text {
    width: 300px;
}
.right {
    text-align: right;
}

section.water {
    background-image: url("https://learn.logikaschool.com/uploads/student/4784915/67c42ebc420f3.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 40px;
}

section.ray {
    background-image: url("https://learn.logikaschool.com/uploads/student/4784915/67c432f751a67.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 40px;
}


a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff8c00;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    background-color: #e07b00;
}


footer {
    background-image: linear-gradient(black, white);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}


@media (max-width: 768px) {
    h2 {
        font-size: 20px;
        text-align: center;
    }

    article {
        margin: 10px;
        padding: 15px;
    }

    section {
        padding: 20px;
    
}
}

    h6{
        margin: 15px;
        padding: 15px;
        font-size: 20px;
    }
