body {
    font-family:cursive ;
    background-image: linear-gradient(white, black);
    margin: 0;
    padding: 0;
}


h2 {
    text-align: left;
    background-image: linear-gradient(Blue, lightblue);
    padding: 20px;
    color: white;
    border-radius: 5px;
}

h4, h5, h6 {
    font-size: 18px;
    color: #333;
}


article.turne, article.leopard, article.gefors {
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
}


section.tourist {
    background-image: url("https://learn.logikaschool.com/uploads/student/4784915/67c33f374c6ec.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 40px;
}

section.water {
    background-image: url("https://learn.logikaschool.com/uploads/student/4784915/67c42ebc420f3.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 40px;
}

section.ray {
    background-image: url("https://learn.logikaschool.com/uploads/student/4784915/67c432f751a67.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 40px;
}


a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff8c00;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    background-color: #e07b00;
}


footer {
    background-image: linear-gradient(black, white);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}


@media (max-width: 768px) {
    h2 {
        font-size: 20px;
        text-align: center;
    }

    article {
        margin: 10px;
        padding: 15px;
    }

    section {
        padding: 20px;
    }
